
.icon-user:before { content: '\e800'; } /* '' */
.icon-inbox:before { content: '\e801'; } /* '' */
.icon-down-open:before { content: '\e802'; } /* '' */
.icon-error:before { content: '\e803'; } /* '' */
.icon-cancel-cricle:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-flag-empty:before { content: '\e806'; } /* '' */
.icon-upload:before { content: '\e807'; } /* '' */
.icon-info:before { content: '\e808'; } /* '' */
.icon-warning:before { content: '\e809'; } /* '' */
.icon-minus:before { content: '\e80a'; } /* '' */
.icon-plus:before { content: '\e80b'; } /* '' */
.icon-account-circle-1:before { content: '\e80c'; } /* '' */
.icon-info-circle--1:before { content: '\e80d'; } /* '' */
.icon-circle-cash:before { content: '\e80e'; } /* '' */
.icon-notepad-edit:before { content: '\e80f'; } /* '' */
.icon-book-contact-2:before { content: '\e810'; } /* '' */
.icon-box-2:before { content: '\e811'; } /* '' */
.icon-business-man-2:before { content: '\e812'; } /* '' */
.icon-business-man-3:before { content: '\e813'; } /* '' */
.icon-check-badge:before { content: '\e814'; } /* '' */
.icon-close:before { content: '\e815'; } /* '' */
.icon-drawer-1:before { content: '\e816'; } /* '' */
.icon-task-warning:before { content: '\e817'; } /* '' */
.icon-upload-2:before { content: '\e818'; } /* '' */
.icon-headphone:before { content: '\e819'; } /* '' */
.icon-hand-tablet:before { content: '\e81a'; } /* '' */
.icon-file-text-document:before { content: '\e81b'; } /* '' */
.icon-phone-2:before { content: '\e81c'; } /* '' */
.icon-off:before { content: '\e81d'; } /* '' */
.icon-menu:before { content: '\e81e'; } /* '' */
.icon-logout:before { content: '\e81f'; } /* '' */
.icon-login:before { content: '\e820'; } /* '' */
.icon-mail-1:before { content: '\e821'; } /* '' */
.icon-menu-1:before { content: '\e822'; } /* '' */
.icon-print:before { content: '\e823'; } /* '' */
.icon-inbox-1:before { content: '\e824'; } /* '' */
.icon-lock:before { content: '\e825'; } /* '' */
.icon-calendar:before { content: '\e826'; } /* '' */
.icon-key-2:before { content: '\e827'; } /* '' */
.icon-ok-circle:before { content: '\e828'; } /* '' */
.icon-location-pin-2:before { content: '\e829'; } /* '' */
.icon-phone:before { content: '\e82a'; } /* '' */
.icon-ccw:before { content: '\e82b'; } /* '' */
.icon-edit:before { content: '\e82c'; } /* '' */
.icon-key-hole-2:before { content: '\e82d'; } /* '' */
.icon-find:before { content: '\e82e'; } /* '' */
.icon-find2:before { content: '\e82f'; } /* '' */