footer{
	& section{
		padding-top: (@padding-base-vertical*2); padding-bottom: (@padding-base-vertical*2);
	}
	& h4{
		font-size: 14px;
		@media (min-width: @screen-sm){ font-size: 16px; }
	}
	& section:first-child{
		background-color: @tertiary;
		& h4 a{ color: @dark}
		& p a{ color: @primary}
	}
	& section:last-child{
		background-color: @dark;
		color: @light;
		& p a{ color: @secondary}
	}
	.info-contacto h4, .info-contacto p{ display: inline-block;}
	.info-contacto h4, .info-contacto>div>p{
		width: 120px;
		@media (min-width: @screen-sm){ width: 150px; }
	}
}