footer{
	width: 100%;
	position: absolute;
	bottom: 0;
	h4{ margin-bottom: 0px;}
	.footer--top, .footer--bottom{
		padding: (@padding-base-vertical*2) 0px;
	}
	.footer--top{
		background-color: @gray--light;
		a{
			color: @primary;
			&:hover{color: @primary--medium;}
			&.active, &:focus, &:visited { color: @primary--dark;}
		}
		.text-contacto{
			display: block;
			margin-bottom: 0px;
			p{ width: 170px;}
			p, a{
				display: inline-block;
				vertical-align: middle;
				margin-bottom: 0px;
			}
		}
		h3, h4{ color: @dark;}
		.collapse{
			@media (min-width: @screen-sm){ display: block;}
		}
		.icon-info{ margin-left: -4px; margin-right: 5px}
	}
	.footer--bottom{
		background-color: @gray--dark;
		a{
			color: @light;
			&:hover{ color: @secondary--medium;}
			&.active, &:focus, &:visited { color: @secondary--dark;}
			&.link-secondary{ color: @secondary!important;}
		}
		h3, h4{ color: @light;}
	}
	.text-alination{
		@media (min-width: @screen-sm){ text-align: right;}
	}
}