//
// Header
// --------------------------------------------------

header {
	height: 55px;
	width: 100%;
	z-index: @zindex-navbar;
	background-color: @primary;
	border-bottom: 5px solid @secondary;
	color: @light;
	@media (min-width: @screen-sm){
		height: 67px;
	}

	a, .dropdown--hover{ font-size: 18px; }
	h1>a, .topic-menu{ margin-bottom: 0px; }
	.dropdown-menu{
		min-width: 280px;
		a:hover, a:focus, a.active, a:active{
			background-color: @primary--medium;
			color: @light;
		}
	}
	.topic-menu, .dropdown-toggle{
		background-color: @primary;
		color: @light;
		border: transparent;
		font-size: 140%;
		&:hover{ background-color:  @primary--medium; }
		&:focus, &.active, &:active{ background-color: @primary--dark; }
	}
}

.btn-nav{
	padding: (@padding-small-vertical*2) (@padding-base-vertical*2);
	position: absolute;
	top: 0px;
	right: 15px;
}

.logo-header{
	padding-top: (@padding-base-vertical); padding-bottom: (@padding-base-vertical);
	width: 200px;
	display: inline-block;
	line-height: 50px;
	@media (max-width: @screen-sm){
		width: 145px;
		padding: 0px;
	}
}


//mobile menu

.nav-mobile{
	width: 100vw; height: 100vh; max-height: 100vh;
	background-color: @light;
	position: fixed; top: 0px;
	z-index: 10000;
	box-shadow: 6px 0px 15px 1px @gray;
	overflow: scroll;
	overflow-x:hidden;
	.menu-mobile a{
		padding: (@padding-base-vertical*2) (@padding-base-horizontal*2);
		margin-bottom: 0px;
		display: block;
		&:hover{
			color: @light;
			background-color: @primary;
		}
	}
}