//
// Images
// --------------------------------------------------


.bg-image{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.img-logo{
	.bg-image;
	width: 35px; height: 35px;
}

.img-logo_light{
	background-image: url('images/logosip.png');
}
.img-logo_black{
	background-image: url('images/logo_black.png');
}
.logo_ogpe{
	background-image: url('images/logo_ogpe.png');
	width: 129px;
	height: 30px;
}
