//
// Images
// --------------------------------------------------


.bg-image{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.img-logo{
	.bg-image;
	width: 35px; height: 35px;
	background-image: url('images/logosip.png');
}