//Line
.line-etapas{
  margin: 0px -3px;
}
.line-etapas--large{
  width: 80px;
  @media (min-width: @screen-sm){ width: 135px; }
}
.line-etapas--medium{
  width: 40px;
  @media (min-width: @screen-sm){ width: 80px; }
}
/*Medida estandar para los pasos de la ficha del trámite*/
.line-etapas--small{
  width: 40px;
}

//Circle
.circle-proceso{
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.circle-pasos {
  width: 30px;height: 30px;
  color: @light;
  background-color: @primary;
  line-height: 30px;
  @media (min-width: @screen-sm){
    width: 50px;height: 50px;
    line-height: 50px;
  }
 //Cuando el paso ha sido completado
  &.circle-complete{ background-color: @primary--dark; }
}

/*Medida estandar para los pasos de la ficha del trámite*/
.circle-pasos--size{
  width: 30px;height: 30px;
  line-height: 30px;
}

.circle-etapas {
  width: 7px;height: 7px;
  margin: 0px;
  border: 2px solid @primary;
  background-color: @light;
  position: relative;top: -12px;
  @media (min-width: @screen-sm){
    width: 10px;height: 10px;
    margin: 0px 2px;
    position: relative;top: -11px;
  }
  //Cuando la etapa ha sido completado
  &.circle-complete{
    background-color: @primary--dark;
    border: 0px;
  }
}

//Text
/*Medida para las descripciones de proyecto (3)*/
.block-text{
  width: 290px;
  @media (min-width: @screen-sm){ width: 530px; }
}
/*Medida para las descripciones de etapas (4)*/
.block-text--medium{
  width: 290px;
  @media (min-width: @screen-sm){ width: 530px; }
}
/*Medida estandar para las descripciones de la ficha del trámite*/
.block-text--small{ width: 290px; }