.line-etapas{
  margin: 0px -3px;
}
.line-etapas--large{
  width: 80px;
  @media (min-width: @screen-sm){ width: 135px; }
}
.line-etapas--small{
  width: 80px;
  @media (min-width: @screen-sm){ width: 135px; }
}
.circle-proceso{
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.circle-pasos {
  width: 30px;height: 30px;
  color: @light;
  background-color: @primary;
  line-height: 30px;
  @media (min-width: @screen-sm){
    width: 50px;height: 50px;
    line-height: 50px;
  }
 //Cuando el paso ha sido completado
  &.circle-complete{ background-color: @primary--medium; }
}
.circle-etapas {
  width: 7px;height: 7px;
  margin: 0px;
  border: 2px solid @primary;
  background-color: @light;
  position: relative;top: -12px;
  @media (min-width: @screen-sm){
    width: 10px;height: 10px;
    margin: 0px 2px;
    position: relative;top: -11px;
  }
  //Cuando la etapa ha sido completado
  &.circle-complete{
    background-color: @primary--dark;
    border: 0px;
  }
}

.block-text{
  width: 290px;
  margin: (@margin-base/2) auto;
  @media (min-width: @screen-sm){ width: 530px; }
}